n8n/workflows/notificaciones_prestamos.json
{
  "name": "prestamos.app — Notificaciones",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "prestamos-notificaciones",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "webhook-entry",
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [240, 300],
      "webhookId": "prestamos-notificaciones"
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": { "caseSensitive": true, "leftValue": "", "typeValidation": "strict" },
                "combinator": "and",
                "conditions": [
                  {
                    "leftValue": "={{ $json.body.tipo }}",
                    "rightValue": "mora",
                    "operator": { "type": "string", "operation": "equals" }
                  }
                ]
              },
              "renameOutput": true,
              "outputKey": "mora"
            },
            {
              "conditions": {
                "options": { "caseSensitive": true, "leftValue": "", "typeValidation": "strict" },
                "combinator": "and",
                "conditions": [
                  {
                    "leftValue": "={{ $json.body.tipo }}",
                    "rightValue": "pago",
                    "operator": { "type": "string", "operation": "equals" }
                  }
                ]
              },
              "renameOutput": true,
              "outputKey": "pago"
            },
            {
              "conditions": {
                "options": { "caseSensitive": true, "leftValue": "", "typeValidation": "strict" },
                "combinator": "and",
                "conditions": [
                  {
                    "leftValue": "={{ $json.body.tipo }}",
                    "rightValue": "cierre_dia",
                    "operator": { "type": "string", "operation": "equals" }
                  }
                ]
              },
              "renameOutput": true,
              "outputKey": "cierre_dia"
            },
            {
              "conditions": {
                "options": { "caseSensitive": true, "leftValue": "", "typeValidation": "strict" },
                "combinator": "and",
                "conditions": [
                  {
                    "leftValue": "={{ $json.body.tipo }}",
                    "rightValue": "alerta_vencimiento",
                    "operator": { "type": "string", "operation": "equals" }
                  }
                ]
              },
              "renameOutput": true,
              "outputKey": "alerta_vencimiento"
            }
          ]
        },
        "fallbackOutput": "none",
        "looseTypeValidation": true,
        "options": {}
      },
      "id": "router",
      "name": "Router por tipo",
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.2,
      "position": [460, 300]
    },
    {
      "parameters": {
        "jsCode": "const d = $json.body.datos;\nreturn [{ json: {\n  text: `⚠️ <b>MORA DETECTADA</b>\\n\\n👤 ${d.cliente}\\n💰 Saldo: $ ${d.monto?.toLocaleString('es-AR')}\\n📅 Días en mora: ${d.dias_mora}\\n📍 Zona: ${d.zona || '—'}`,\n  parse_mode: 'HTML'\n}}];"
      },
      "id": "format-mora",
      "name": "Formatear mora",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [700, 160]
    },
    {
      "parameters": {
        "jsCode": "const d = $json.body.datos;\nreturn [{ json: {\n  text: `✅ <b>PAGO REGISTRADO</b>\\n\\n👤 ${d.cliente}\\n💰 Monto: $ ${d.monto?.toLocaleString('es-AR')}\\n💳 Método: ${d.metodo}`,\n  parse_mode: 'HTML'\n}}];"
      },
      "id": "format-pago",
      "name": "Formatear pago",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [700, 280]
    },
    {
      "parameters": {
        "jsCode": "const d = $json.body.datos;\nreturn [{ json: {\n  text: `📊 <b>CIERRE DEL DÍA</b>\\n\\n✅ Cobrado hoy: $ ${d.total_cobrado?.toLocaleString('es-AR')}\\n⏳ Cuotas pendientes: ${d.pendientes}\\n🔴 En mora: ${d.en_mora}\\n💸 Monto pendiente: $ ${d.monto_pendiente?.toLocaleString('es-AR')}`,\n  parse_mode: 'HTML'\n}}];"
      },
      "id": "format-cierre",
      "name": "Formatear cierre",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [700, 400]
    },
    {
      "parameters": {
        "jsCode": "const d = $json.body.datos;\nreturn [{ json: {\n  text: `📋 <b>COBROS PARA MAÑANA</b>\\n\\nTotal cuotas: ${d.cantidad}\\nMonto total: $ ${d.total?.toLocaleString('es-AR')}`,\n  parse_mode: 'HTML'\n}}];"
      },
      "id": "format-alerta",
      "name": "Formatear alerta",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [700, 520]
    },
    {
      "parameters": {
        "resource": "message",
        "chatId": "={{ $vars.TELEGRAM_CHAT_ID }}",
        "text": "={{ $json.text }}",
        "additionalFields": {
          "parse_mode": "HTML"
        }
      },
      "id": "telegram-mora",
      "name": "Telegram mora",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [940, 160],
      "credentials": { "telegramApi": { "id": "telegram-creds", "name": "Telegram Bot" } }
    },
    {
      "parameters": {
        "resource": "message",
        "chatId": "={{ $vars.TELEGRAM_CHAT_ID }}",
        "text": "={{ $json.text }}",
        "additionalFields": {
          "parse_mode": "HTML"
        }
      },
      "id": "telegram-pago",
      "name": "Telegram pago",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [940, 280],
      "credentials": { "telegramApi": { "id": "telegram-creds", "name": "Telegram Bot" } }
    },
    {
      "parameters": {
        "resource": "message",
        "chatId": "={{ $vars.TELEGRAM_CHAT_ID }}",
        "text": "={{ $json.text }}",
        "additionalFields": {
          "parse_mode": "HTML"
        }
      },
      "id": "telegram-cierre",
      "name": "Telegram cierre",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [940, 400],
      "credentials": { "telegramApi": { "id": "telegram-creds", "name": "Telegram Bot" } }
    },
    {
      "parameters": {
        "resource": "message",
        "chatId": "={{ $vars.TELEGRAM_CHAT_ID }}",
        "text": "={{ $json.text }}",
        "additionalFields": {
          "parse_mode": "HTML"
        }
      },
      "id": "telegram-alerta",
      "name": "Telegram alerta",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [940, 520],
      "credentials": { "telegramApi": { "id": "telegram-creds", "name": "Telegram Bot" } }
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={ \"ok\": true }",
        "options": {}
      },
      "id": "respond-ok",
      "name": "Responder OK",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [1180, 340]
    }
  ],
  "connections": {
    "Webhook": {
      "main": [[{ "node": "Router por tipo", "type": "main", "index": 0 }]]
    },
    "Router por tipo": {
      "main": [
        [{ "node": "Formatear mora",   "type": "main", "index": 0 }],
        [{ "node": "Formatear pago",   "type": "main", "index": 0 }],
        [{ "node": "Formatear cierre", "type": "main", "index": 0 }],
        [{ "node": "Formatear alerta", "type": "main", "index": 0 }]
      ]
    },
    "Formatear mora":   { "main": [[{ "node": "Telegram mora",   "type": "main", "index": 0 }]] },
    "Formatear pago":   { "main": [[{ "node": "Telegram pago",   "type": "main", "index": 0 }]] },
    "Formatear cierre": { "main": [[{ "node": "Telegram cierre", "type": "main", "index": 0 }]] },
    "Formatear alerta": { "main": [[{ "node": "Telegram alerta", "type": "main", "index": 0 }]] },
    "Telegram mora":    { "main": [[{ "node": "Responder OK", "type": "main", "index": 0 }]] },
    "Telegram pago":    { "main": [[{ "node": "Responder OK", "type": "main", "index": 0 }]] },
    "Telegram cierre":  { "main": [[{ "node": "Responder OK", "type": "main", "index": 0 }]] },
    "Telegram alerta":  { "main": [[{ "node": "Responder OK", "type": "main", "index": 0 }]] }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "tags": ["prestamos.app"],
  "meta": {
    "description": "Recibe webhooks del backend de prestamos.app y envía notificaciones al prestamista vía Telegram. Tipos: mora, pago, cierre_dia, alerta_vencimiento. Configurar: credential 'Telegram Bot' con bot token + variable TELEGRAM_CHAT_ID."
  }
}
